# Folders to ignore
bower_components
node_modules
public/assets/scripts/vendor
public/assets/styles/vendor
www
sprites/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

.DS_Store
