main.not-found-page
  .row
    .col-xs-12
      .not-found-img
        h1 Page Not Found
        p Oops, the page you're looking for doesn't exist.
    
    .col-xs-12
      a.btn.btn-secondary(href="/") Go back
