doctype html
html(lang='#{ site.language }')
!= partial('_partials/head')

body.mobile-nav-open
  .border
  != partial('_partials/mobile_nav')
  != partial('_partials/navbar')
  
  .container-fluid
    != yield

    != partial('_partials/footer')
