main.home
  .row
    .col-xs-12
      .welcome
        h1 Let's say no to email pressure.
        p 
          span.bold timyo 
          | is the first and only business email solution that respects your most precious resource: 
          span.bold time.
        
        button.btn.btn-secondary.watch-video-cta 
          span.icon-play
          | Watch the video
        
  .row.card-heros
    .col-xs
      .card.read-by-tomorrow
        .img
        .title 
          span.bold.uppercase Read 
          | by 
          span.bold.uppercase Tomorrow
        .body
          p Hi Carla, you don’t need to respond to this email. I just wanted to tell you that...
    
    .col-xs
      .card.reply-by-today
        .img
        .title 
          span.bold.uppercase Reply 
          | by 
          span.bold.uppercase Today
        .body
          p Marie, I need a huge favor. I need to know how many users are using our newest...
    
    .col-xs
      .card.to-do
        .img
        .title 
          span.bold.uppercase TO-DO 
          | by 
          span.bold.uppercase Friday
        .body
          p John, let’s prioritize the deck design for tomorrow’s presentation. Please do...
      
          
      
