main.mission-page
  .row
    .col-md-12
      .divider-wrapper
        .common-sprite.divider
  
  .row
    .col-md-12
      .body-text-content.mission-header
        h1.h1 We believe that being in control of your own time is essential to happiness.
        
  .row.mission-statement
    .col-md-12
      .body-text-content
        p That’s why we created the only email platform that respects our most precious resource: time.
        p 
          | Emails are today’s silent killer. 
          | The increasing volume of email puts us under constant pressure, 
          | destroys our productivity, and even affects our health.
        P
          | Together, 
          span.bold we can change this.
        p
          span.bold timyo 
          | works with any email client or device you are using to let you know 
          | at a glance how and when you need to respond to an email so that you 
          | can stop wasting time dealing with irrelevant emails and instead 
          | focus on emails that matter, when they matter.
        
        .common-sprite.icon-timyo-logo
          
        p Time Is My Own.
  
  .row
    .col-md-12
      .card
        .row
          .col-md-8
            .title Increase your team productivity and health.
            .body
              p 
                | At Timyo we are passionate about improving how communication 
                | tools can help people at and beyond the workplace.
          .col-md-4.button-wrapper
            a(href="/manifesto").btn.btn-secondary READ OUR MANIFESTO
        
        .icon-set
          each obj in [{icon: 'scale', color: 'yellow'}, {icon: 'globe', color: 'blue'}, {icon: 'security', color: 'red'}, {icon: 'smiley', color: 'green'}]
            .icon-wrapper
              div(class="timyo-icon icon-#{obj.icon} #{obj.color}")
                
  .row
    .col-md-12
      .body-text-content
        h2.h1 Backed by our users.
        p 
          | We learned that 
          span.bold timyo 
          | helped 88% of our users feel more productive and provided peace of mind 
          | by helping them be in control of their inbox.
        a(href="/manifesto").btn.btn-secondary See the data
        
  .row
    .col-xs-12
      .body-text-content-sm
        h2.h1 Seamless Integration.
        
        p 
          span.bold timyo 
          | works seamlessly from your 
          span.bold mobile 
          | to your 
          span.bold desktop. 
          | Be an early adopter and enjoy it free for life.

  .row
    .col-xs-12
      != partial('_partials/get_timyo_footer')
