main.mission-page
  .row
    .col-md-12
      .divider-wrapper
        .common-sprite.divider
  
  .row
    .col-md-12
      .body-text-content.mission-header
        h1.h1 We believe that happiness starts with being in control of your own time.
        
  .row.mission-statement
    .col-md-12
      .body-text-content
        p That’s why we have evolved email protocol and created the only email platform that respects our most precious resource: time.
        p 
          | Emails are today’s silent killer. 
          | The increasing volume of email puts us under constant pressure, 
          | destroys our productivity, and even affects our health.
        P
          | Together, 
          span.bold we can change this.
        p
          | This is why we have created 
          span.bold Timyo: 
          | the only email platform that respects people’s time. 
          | Timyo works with any email client or device you are using to let you 
          | know at a glance how and when you need to respond to an email. That way 
          | you can stop wasting time dealing with irrelevant emails, and instead 
          | focus on emails that matter, when they matter.
        
        .common-sprite.icon-timyo-logo
          
        p Time Is My Own.
  
  .row
    .col-md-12
      .card
        .row
          .col-md-8
            .title Increase your team productivity and health.
            .body
              p 
                | At Timyo we are passionate about improving how communication 
                | tools can help people at and beyond the workplace.
          .col-md-4.button-wrapper
            a(href="/timyo-www/manifesto").btn.btn-secondary Learn More
        
        .icon-set
          each obj in [{icon: 'scale', color: 'yellow'}, {icon: 'globe', color: 'blue'}, {icon: 'security', color: 'red'}, {icon: 'smiley', color: 'green'}]
            .icon-wrapper
              div(class="timyo-icon icon-#{obj.icon} #{obj.color}")
                
  .row
    .col-md-12
      .body-text-content
        h2.h1 Backed by our users.
        p 
          | 88% of our users feel more productive and in control of their inbox.
        a(href="/timyo-www/results").btn.btn-secondary See the data

  != partial('_partials/get_timyo_footer')
