main.mission-page
  .row
    .col-md-12
      .divider-wrapper
        .common-sprite.divider
  
  .row
    .col-md-12
      .body-text-content.mission-header
        h1.h1 We believe that happiness starts with being in control of your own time.
        
  .row.mission-statement
    .col-md-12
      .body-text-content
        p 
          | How can we do anything we like if we are constantly interrupted, 
          | constantly robbed of precious minutes of our time by the barrage of 
          | incoming communications, starting with emails? 
        p 
          | Emails are today’s silent killer. 
          | Their increasing volume puts us under constant pressure, 
          | destroys our productivity, and even affects our health.
        P
          | Together, 
          span.bold we can change this.
        p
          | That's why we have evolved the email protocol and created  
          span.bold timyo, 
          | the only email platform that respects our most precious resource: time.
          
        P 
          span.bold timyo 
          | works with any email client or device you are using and lets 
          | you know at a glance if and when an email needs to be responded to 
          | and allows you to schedule when to deal with emails under your own terms. With 
          span.bold timyo 
          | you can stop wasting time with irrelevant emails 
          | and focus on what matters, when it matters
        
        .common-sprite.icon-timyo-logo
          
        p Time Is My Own.
  
  .row
    .col-md-12
      .card
        .row
          .col-md-8
            .title Email Better. Email Smarter.
            .body
              p 
                | At 
                span.bold timyo 
                | we are passionate about improving how communication 
                | tools can help people at and beyond the workplace.
          .col-md-4.button-wrapper
            a(href="/timyo-www/manifesto").btn.btn-secondary Learn More
        
        .icon-set
          each obj in [{icon: 'scale', color: 'yellow'}, {icon: 'globe', color: 'blue'}, {icon: 'security', color: 'red'}, {icon: 'smiley', color: 'green'}]
            .icon-wrapper
              div(class="timyo-icon icon-#{obj.icon} #{obj.color}")
                
  .row
    .col-md-12
      .body-text-content
        h2.h1 Backed by our users.
        p 
          | 88% of our users feel more productive and in control of their inbox.
        a(href="/timyo-www/results").btn.btn-secondary See the data

  != partial('_partials/get_timyo_footer')
