main.results-page
  .row
    .col-xs-12
      .intro
        h1 How can Timyo Help my Team?
        p 
          | In order to understand the benefits of Timyo, 
          | we collected hundreds of survey responses from users. 
          | Here’s what they had to say.
        
        p.fine Based on 663 responses from Timyo users (April 2017).
      
  .row.inbox-manage-section
    .col-md-12
      .icon-wrapper
        .timyo-icon.icon-mailbox.blue
    .col-md-8
      h4.h4 HAS TIMYO MADE 
        span.blue MANAGING YOUR INBOX EASIER 
        | FOR YOU?
      
      h2.h2
        span.blue 80% 
        | of users feel that Timyo made his inbox management much easier.
    
    .col-md-8.stats
      .icon.results-sprite.icon-13-pct
        .caption.small I don't know 
      .icon.results-sprite.icon-80-pct
        .caption.blue Yes
      .icon.results-sprite.icon-7-pct
        .caption.small No
        
  .row.productivity-section
    .col-md-12
      .icon-wrapper
        .timyo-icon.icon-lightbulb.yellow
    .col-md-8
      h4.h4 HAS TIMYO HELPED YOU  
        span.yellow FEEL MORE PRODUCTIVE 
        | ?
      
      h2.h2
        span.yellow 88% 
        | of users feel that Timyo help them increase their work productivity.
    
    .col-md-8.stats
      .icon.results-sprite.icon-95-pct
        .caption.small I don't know 
      .icon.results-sprite.icon-88-pct
        .caption.yellow Yes
      .icon.results-sprite.icon-25-pct
        .caption.small No
        
  .row.company-section
    .col-md-12
      .icon-wrapper
        .timyo-icon.icon-suitcase.green
    .col-md-8
      h4.h4 WOULD YOU 
        span.green RECOMMEND USING TIMYO 
        | IN YOUR COMPANY?
      
      h2.h2
        span.green 79% 
        | of users would recommend using Timyo in their company.
    
    .col-md-8.stats
      .icon.results-sprite.icon-165-pct
        .caption.small I don't know 
      .icon.results-sprite.icon-79-pct
        .caption.green Yes
      .icon.results-sprite.icon-45-pct
        .caption.small No
  
  .row.additional-stats-section
    .col-md-4
      .icon-wrapper.first
        .timyo-icon.icon-envelope.red
      p 
        span.red 89% 
        | of users say using clear expectations help prioritize their inbox.
      p.fine 5.5% I don’t know  —  5.5% No
    .col-md-4
      .icon-wrapper
        .timyo-icon.icon-calendar.blue
      p 
        span.blue 83% 
        | of users gain control of their inbox by using time expectations.
      p.fine 10% I don’t know  —  7% No
    .col-md-4
      .icon-wrapper
        .timyo-icon.icon-clock.yellow
      p 
        span.yellow 71% 
        | of users say that using time expectations increase email clarity.
      p.fine 19% I don’t know  —  10% No
      
  .row.fix-email-section
    .col-md-12
      .icon-wrapper
        .timyo-icon.icon-thumb.blue
    .col-md-8
      h4.h4 DO YOU THINK WE CAN 
        span.blue FIX EMAIL 
        | BY USING TIMYO?
      
      h2.h2
        span.blue 78% 
        | of users think we can fix email together if we all use timyo.
    
      p.fine
        | 16% I don’t know  —  6% No 
      
