main.teams-page
  .row.intro-section
    .col-md-6
      h1 Great teams get great results with Timyo.
      p 
        | We learned that timyo helped 88% of our users feel more productive and
        | provided peace of mind by helping them be in control of their inbox.

      a(href="/timyo-www/results").btn.btn-secondary See the data
    
    .col-md-5
      .card
        .img
        .title
          p
            span.green 88% 
            | of our users manage their email so that they feel more productive.
        .icon-wrapper
          .timyo-icon.icon-smiley.green
          
  .row
    .col-xs-12
      .body-text-content
        h2.h1 Increase your team productivity and health.
  
  .row.icon-card-section
    .col-xs-12
      .row
        .col-md-6
          != partial('_partials/icon_card', public._data.icon_cards.team_workload)
        .col-md-6
          != partial('_partials/icon_card', public._data.icon_cards.protect_focus)
      .row
        .col-md-6
          != partial('_partials/icon_card', public._data.icon_cards.reduce_email) 
        .col-md-6 
          != partial('_partials/icon_card', public._data.icon_cards.daily_goal) 
  
  .row.services-section
    .col-md-2
      .services.first
        .service.teams-sprite.icon-productivity-asana
        .service.teams-sprite.icon-productivity-jira
        .service.teams-sprite.icon-productivity-trello
    .col-md-8
      .body-text-content
        h2.h1 Keep all your existing solutions.
        p 
          span.bold timyo 
          | just enriches your email platform. Email is an asynchronous tool 
          | perfect for formal and substantive communication. 
          | Make email better at what email is already good at.
    .col-md-2
      .services.last
        .service.teams-sprite.icon-productivity-yammer
        .service.teams-sprite.icon-productivity-misc
        .service.teams-sprite.icon-productivity-slack
  
  .row
    .col-xs-12
      .body-text-content-sm
        h2.h1 
          | Join 
          span.bold timyo 
          | for life.
        p Register as many work email addresses across our desktop and mobile apps free for life.
        
  .row.pricing-section
    .col-xs-12.pricing-wrapper
      .hr
      .card-wrapper
        - for (var x = 1; x < 4; x++)
          .card(class="card-#{x}")
            .card-border
            .top Timyo for teams
            .price
              - if (x == 1)
                | $10
              - else if (x == 2)
                | Free
              - else
                | $25
            .body
              ul
                li Unlimited users
                li Unlimited devices
                li Free updates
      
      .tag.green Limited time offer
    
    .col-sm-12
      p.fine 
        | For a limited time, activate Timyo before we release our premium 
        | features and you'll be automatically upgraded for free.

  != partial('_partials/get_timyo_footer')
        
