main.teams-page
  .row.intro-section
    .col-md-6
      h1 Great teams get great results with Timyo.
      p 
        | 80% of our users feel 
        span.bold timyo 
        | made their inbox management much easier.

      a(href="/timyo-www/results").btn.btn-secondary See the data
    
    .col-md-5
      .card
        .img
        .title
          p
            span.green 88% 
            | of timyo users feel that timyo helps them increase their work productivity.
        .icon-wrapper
          .timyo-icon.icon-smiley.green
          
  .row
    .col-xs-12
      .body-text-content
        h2.h1 Email 2.0
        p Get more things done with less stress.
  
  .row.icon-card-section
    .col-xs-12
      .row
        .col-md-6
          != partial('_partials/icon_card', public._data.icon_cards.team_workload)
        .col-md-6
          != partial('_partials/icon_card', public._data.icon_cards.protect_focus)
      .row
        .col-md-6
          != partial('_partials/icon_card', public._data.icon_cards.reduce_email) 
        .col-md-6 
          != partial('_partials/icon_card', public._data.icon_cards.daily_goal) 
  
  .row.services-section
    .col-md-2
      .services.first
        .service.teams-sprite.icon-productivity-asana
        .service.teams-sprite.icon-productivity-jira
        .service.teams-sprite.icon-productivity-trello
    .col-md-8
      .body-text-content
        h2.h1 Keep all your existing solutions.
        p 
          span.bold timyo 
          | enriches your current email platform. 
          | It does not replace any of the tools you like. 
          | It makes email great at what email should be good at: 
          | an asynchronous communication tool perfect for formal and substantive exchanges.
    .col-md-2
      .services.last
        .service.teams-sprite.icon-productivity-yammer
        .service.teams-sprite.icon-productivity-misc
        .service.teams-sprite.icon-productivity-slack
  
  .row
    .col-xs-12
      .body-text-content-sm
        h2.h1 
          | Join now and enjoy Timyo free for life. 
        p 
          | Join the timyo revolution now, 
          | register as many work email addresses across our desktop and mobile apps. 
          | Our early adopters will enjoy timyo free for life.
        
  .row.pricing-section
    .col-xs-12.pricing-wrapper
      .hr
      .card-wrapper
        - for (var x = 1; x < 4; x++)
          .card(class="card-#{x}")
            .card-border
            .top Timyo for teams
            .price
              - if (x == 1)
                | $10
              - else if (x == 2)
                | Free
              - else
                | $25
            .body
              ul
                li Unlimited users
                li Unlimited devices
                li Free updates
      
      .tag.green Limited time offer
    
    .col-sm-12
      p.fine 
        | For a limited time, activate Timyo before we release our premium 
        | features and you'll be automatically upgraded for free.

  != partial('_partials/get_timyo_footer')
        
