main.terms-page
  .row
    .col-xs-12
      h1.h1 Privacy Policy
      
      p.bold Effective: November 1, 2015
      
      p 
        | Thanks for downloading Timyo! Here we describe how we collect, use and 
        | handle your information when you use our Service. 
        | The Service includes a software application users download to a device 
        | and a service that processes data on our servers.
        
      h2 Which information we collect and for what kind of usage
      
      p
        span.bold Email Credentials: 
        | We collect and process your email address and credentials to provide 
        | you the Service.Timyo does not use your email credentials for any other purpose. 
        | To learn more about how we process your email credentials please see 
        | Timyo Security Policy. We collect and process your email address to 
        | provide you the Service, carry out transactions you authorize and communicate with you. 
        
      p
        span.bold Email Data: 
        | Timyo has no access to your email contents and does not store any information 
        | related of the content of your emails. 
        | We only process your email messages to provide you the Service.

      h2 With whom
      
      p
        | We are not in the business of selling or renting users data. 
        | We will not share data with third parties outside Timyo and affiliates 
        | except in the following narrow circumstances: 
        span.bold Others working for Timyo. 
  
      p
        | Timyo uses certain trusted third parties to help us provide, improve, 
        | protect, and promote our Services. These third parties will access your 
        | information only to perform tasks on our behalf and in compliance with 
        | this Privacy Policy. 
        
      p
        span.bold Support: 
        | If you choose to utilize support services, you may be asked to provide 
        | certain information (type of email account, type of device, description of usage etc). 
        | We will never ask for, nor should you ever send us the password to your email account. 
        | All communication with our support team is completely private, and we 
        | never use information collected for uses not related to support and application improvement. 
        
      p
        span.bold Usage Statistics: 
        | We collect anonymous usage statistics to help us improve Timyo. 
        | For example, we track which screens are viewed most frequently and 
        | which features are utilized most frequently. These statistics contain 
        | no personally identifiable information. 
    
      p
        | If we sell or reorganize all or part of our business, 
        | we may need to disclose user information to a third party who acquires 
        | our assets, as permitted by law. 
      
      p
        span.bold Law &amp; Order: 
        | We may disclose your information to third parties if we determine that 
        | such disclosure is reasonably necessary to (a) comply with the law; 
        | (b) protect any person from death or serious bodily injury; 
        | (c) prevent fraud or abuse of Timyo or our users; or 
        | (d) protect Timyo's property rights.
        
      h2 Data Location
      
      p 
        | The information we collect and process may be stored and processed in 
        | the United States or any other country where we or our parent company, 
        | affiliates or service providers maintain facilities. 
        | Information are currently stored and processed in the E.U., 
        | in high available (Tier IV) datacenters, managed by ISO 27001 organization. 
        | Location might change in respect with the above policy without further notice.
        
      h2 Changes
      
      p
        | We may revise this Privacy Policy from time to time, 
        | and will post the most current version on our website. 
        | If a revision meaningfully reduces your rights, we will notify you.
        
      h2 Contact
      
      p
        | Have questions or concerns about Timyo, our Services and privacy? Contact 
        a(href="mailto:privacy@timyo.com") privacy@timyo.com
