footer.row
  .col-sm-1
    .common-sprite.icon-timyo-logo-sm
  .col-sm-11
    p &copy; 2017 Timyo. All rights reserved.

script(src='/assets/scripts/main.js')

if google_analytics
  != partial('_partials/google_analytics')
