footer.row
  .col-xs-12
    .common-sprite.icon-timyo-logo-sm
    p &copy; 2017 Timyo. All rights reserved.

script(src='/assets/scripts/main.js')

if google_analytics
  != partial('_partials/google_analytics')
