footer.row
  .col-sm-1
    .common-sprite.icon-timyo-logo-sm
  .col-sm-5.copy-wrapper
    p &copy; 2017 Timyo. All rights reserved.
  .col-sm-6
    .bottom-nav
      ul
        li
          a(href="/timyo-www/timyo-press-kit.zip") Press Kit
        li
          a(href="https://timyo.desk.com/", target="_blank") Support
        li
          a(href="/timyo-www/terms") Privacy Policy

script(src='assets/scripts/swipe.min.js')
script(src='assets/scripts/main.js')
!= partial('yt_api')
if google_analytics
  != partial('google_analytics')
