footer.row
  .col-sm-1
    .common-sprite.icon-timyo-logo-sm
  .col-sm-11.bottom-nav-wrapper
    p &copy; 2017 Timyo. All rights reserved.
    
    .bottom-nav
      ul
        li
          a(href="/terms") Privacy Policy

script(src='/assets/scripts/main.js')

if google_analytics
  != partial('_partials/google_analytics')
