.get-timyo_footer
  .row.row-3
    .col-md-4
      != partial('get_timyo_card', public._data.get_timyo_cards.chrome)
    .col-md-4
      != partial('get_timyo_card', public._data.get_timyo_cards.office)
    .col-md-4
      != partial('get_timyo_card', public._data.get_timyo_cards.outlook)
  .row.row-2
    .col-md-6
      != partial('get_timyo_card', public._data.get_timyo_cards.apple)
    .col-md-6
      != partial('get_timyo_card', public._data.get_timyo_cards.play)
