.row
  .col-xs-12
    .body-text-content-sm
      h2.h1 Up and running in minutes.    
      p 
        | Be an early adopter, download 
        span.bold timyo, 
        | invite your friends and colleagues, and start being in control of your own time.
  if home
    .col-xs-12
      .timyo-all-screens

.row
  .col-xs-12
    .get-timyo-footer
      .row.row-3
        .col-md-4
          != partial('get_timyo_card', public._data.get_timyo_cards.chrome)
        .col-md-4
          != partial('get_timyo_card', public._data.get_timyo_cards.office)
        .col-md-4
          != partial('get_timyo_card', public._data.get_timyo_cards.outlook)
      .row.row-2
        .col-md-6
          != partial('get_timyo_card', public._data.get_timyo_cards.apple)
        .col-md-6
          != partial('get_timyo_card', public._data.get_timyo_cards.play)
