header
  .container-fluid
    .row
      .col-xs-12.middle-sm.navbar-wrapper
        .mobile-navbar-wrapper
          .mobile-navbar
            button.navbar-toggle(type='button' data-event-click='toggleNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          a.common-sprite.icon-timyo-logo(href='/timyo-www/')

        .desktop-navbar-wrapper
          nav.desktop-navbar(role='navigation')
            != partial('navlist')
          a.btn.btn-primary(href="https://itunes.apple.com/us/app/timyo-email-that-matters-when/id1052885608?ls=1&mt=8" target="_blank") Download
