header
  .container-fluid
    .row
      .col-xs-12.middle-sm.navbar-wrapper
        .mobile-navbar-wrapper
          .mobile-navbar
            button.navbar-toggle(type='button' data-event-click='toggleNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          a.common-sprite.icon-timyo-logo(href='/')

        .desktop-navbar-wrapper
          nav.desktop-navbar(role='navigation')
            != partial('navlist')
          if current.path[0] != 'download'
            a.btn.btn-primary(href="/download") Download
