.row
  .col-sm-12
    .navbar(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.icon-timyo-logo(href='/')= site.title
      #navbar-collapse.navbar-collapse.collapse
        ul.nav.navbar-nav
          li(class="#{ current.path[0] == 'mission' ? 'active' : '' }")
            a(href='/mission') Mission
          li(class="#{ current.path[0] == 'teams' ? 'active' : '' }")
            a(href='/teams') For Teams
