ul
  if mobileNav
    li
      a(href='/timyo-www/', class="#{ current.path[0] == 'index' ? 'active' : '' }") Home
  li
    a(href='/timyo-www/mission', class="#{ current.path[0] == 'mission' ? 'active' : '' }") Mission
  li
    a(href='/timyo-www/teams', class="#{ current.path[0] == 'teams' ? 'active' : '' }") For Teams
  li
    a(href='https://www.timyo.com/blog') Blog
