ul
  if mobileNav
    li
      a(href='/', class="#{ current.path[0] == 'index' ? 'active' : '' }") Home
  li
    a(href='/mission', class="#{ current.path[0] == 'mission' ? 'active' : '' }") Mission
  li
    a(href='/teams', class="#{ current.path[0] == 'teams' ? 'active' : '' }") For Teams
