.modal-container
  .modal-bg(data-event-click='toggleModal')
  .modal-inner
    .row
      .col-md-12.close-col
        button.modal-close(type='button' data-event-click='toggleModal')
          .icon-btn
            span.icon-bar
            span.icon-bar
    .row
      .col-md-12
        #player
