//
// Base
// --------------------------------------------------------

// Add top padding for fixed nav
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

pre {
  background-color: #f8f8f8
}

article#documentation {
  section>h1 {
    .page-header;
  }
}

ul.nav-docs{
  margin-top: 60px;
  h1{
    margin: 1em 0 0 0;
    padding: 10px 15px;
    font-size: 1.8rem;
  }
}
