footer {
  padding: 20px 0;

  .icon-timyo-logo-sm,
  p {
    display: inline-block;
    vertical-align: middle;
  }

  .icon-timyo-logo-sm {
    margin-right: 26px;
  }

  p {
    color: @gray-text;
    font-size: 12px;
  }
}
