main.home-page {
  .welcome {
    max-width: 500px;
    margin: 0 auto;

    .watch-video-cta {
      .icon-play {
        margin-right: 7px;
        vertical-align: middle;
        line-height: 1;
        font-size: 18px;
      }
    }
  }

  .card-heros {
    width: 100%;
    height: 445px;
    position: relative;

    .card-slider {
      display: flex;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      width: 813px;
    }

    .card {
      width: 251px;
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 0px 2px 24px #eee;

      .img {
        margin-bottom: -14px;
      }

      .title {
        font-size: 10px;
        box-shadow: 0 2px 18px #ddd;
        background: #fff;
        display: inline-block;
        padding: 11px 9px;
        border-radius: 3px;
      }

      .body {
        p {
          color: @gray-text;
          font-size: 14px;
          padding: 40px 20px;
          padding: 4px 20px 25px;
          font-weight: 300;
        }
      }

      &.read-by-tomorrow {
        .img {
          background: url('/assets/images/hero_read_tomorrow.jpg');
          height: 265px;
          width: 251px;
          background-size: contain;
        }

        .title {
          border-left: 3px solid @green;
        }
      }

      &.reply-by-today {
        .img {
          background: url('/assets/images/hero_reply_today.jpg');
          height: 265px;
          width: 251px;
          background-size: contain;
        }

        .title {
          border-left: 3px solid @yellow;
        }
      }

      &.to-do {
        .img {
          background: url('/assets/images/hero_todo_by.jpg');
          height: 265px;
          width: 251px;
          background-size: contain;
        }

        .title {
          border-left: 3px solid @green;
        }
      }
    }
  }

  .mission-cards {
    .icon-card {
      @media screen and (min-width: @break-sm-up) {
        text-align: left;
      }
    }
  }

  .four-phones {
    background: url('/assets/images/devices.jpg') no-repeat;
    height: 407px;
    width: 686px;
    background-size: 686px 407px;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    margin-top: 40px;

    @media screen and (min-width: @break-sm-up) {
      transform: none;
      position: static;
      margin-top: 0;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('/assets/images/devices@2x.jpg');
    }
  }

  .iphone-tab-section {
    .graphic {
      order: 1;

      .iphone-wrapper {
        background: url('/assets/images/iphone_outline.png') no-repeat;
        width: 375px;
        height: 393px;
        background-size: 375px 393px;
        margin: 0;
        position: relative;
        transform: translate(-50%);
        left: 50%;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url('/assets/images/iphone_outline@2x.png');
        }

        @media screen and (min-width: @break-md-up) {
          background: url('/assets/images/iphone_outline_lg.png') no-repeat;
          width: 1024px;
          height: 393px;
          background-size: 1024px 393px;
          margin-left: -70px;
          position: static;
          transform: none;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('/assets/images/iphone_outline_lg@2x.png');
          }
        }

        @media screen and (min-width: 900px) {
          margin-left: -40px;
        }

        .screen-wrapper {
          position: relative;

          .screen {
            position: absolute;
            top: 107px;
            left: 72px;
            width: 257px;
            height: 317px;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity .2s ease;
            background-size: 90%;

            &.active {
              opacity: 1;
            }

            @media screen and (min-width: @break-md-up) {
              top: 76px;
              left: 152px;
              background-size: 257px 317px;
            }

            &.clear-expectations {
              background-image: url('/assets/images/slider_screen_1.png');

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background-image: url('/assets/images/slider_screen_1@2x.png');
              }
            }
            &.clear-priorities {
              background-image: url('/assets/images/slider_screen_2.png');

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background-image: url('/assets/images/slider_screen_2@2x.png');
              }
            }
            &.schedule-email {
              background-image: url('/assets/images/slider_screen_3.png');

              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background-image: url('/assets/images/slider_screen_3@2x.png');
              }
            }
          }
        }
      }
    }

    .cards {
      .flex-display;
      order: 0;
      margin: 0 0 16px;

      .card-slider {
        .flex-display;
        .flex-direction(row);
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

        .icon-card {
          border-radius: 10px;
          max-width: 450px;
          cursor: pointer;
          margin: 0 5px;
          padding: 10px 14px;
          box-shadow: 0 4px 20px #eee;
          text-align: left;
          min-width: 300px;
        }
      }
    }

    @media screen and (min-width: @break-md-up) {
      .justify-content(space-between);

      .cards {
        min-width: auto;
        order: 2;
        flex-basis: 44%;
        .flex-direction(column);
        .justify-content(space-between);

        .card-slider {
          .flex-direction(column);
          .justify-content(space-between);
          position: static;
          transform: none;
          height: 100%;

          .icon-card {
            margin: -20px 0 10px -20px;
            box-shadow: none;
            min-width: auto;

            &.active {
              box-shadow: 0 4px 20px #eee;
              background: #fff;
            }
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      .justify-content(center);

      .cards {
        flex-basis: 50%;

        .icon-card {
          padding: 20px;
        }
      }
    }
  }

  .timyo-reasons-section {
    .icon-card {
      @media screen and (min-width: @break-sm-up) {
        margin: 0 16px 40px;
      }
    }
  }

  .testimonials-section {
    .testimonial {
      .author {
        font-size: 14px;
        font-weight: bold;
      }
      .title {
        font-size: 12px;
        color: @gray-text;
        font-weight: 300;
        margin-top: 12px;
      }
    }
  }

  .timyo-all-screens {
    display: none;

    @media screen and (min-width: @break-md-up) {
      display: block;
      background: url('/assets/images/timyo_all_screens.jpg') no-repeat;
      max-height: 366px;
      height: 100%;
      width: 100%;
      max-width: 799px;
      background-size: 100% auto;
      margin: 10px auto;
      padding-bottom: 37%;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('/assets/images/timyo_all_screens@2x.jpg');
      }
    }
  }
}
