header {
  width: 100%;
  padding: 30px 0 14px;
  background: #fff;
  transition: box-shadow .2s ease;
  position: absolute;
  z-index: 401;

  .navbar-wrapper {
    .flex-display;
    .justify-content(space-between);
    .align-items(flex-end);
  }

  .mobile-navbar {
    display: inline-block;
    vertical-align: top;

    .navbar-toggle {
      height: 23px;
      background: 0;
      border: 0;
      outline: 0;
      padding: 4px 10px 4px 0;
      margin-right: 0;
      box-sizing: content-box;
      cursor: pointer;

      .icon-bar {
        width: 29px;
        height: 2px;
        background: @black;
        transition: all .2s ease;
        margin-bottom: 8.3px;
        display: block;
      }

      @media screen and (min-width: @break-xs-up) {
        margin-right: 14px;
      }
    }
  }

  a.icon-timyo-logo {
    display: inline-block;
    vertical-align: middle;
  }

  .desktop-navbar-wrapper {
    .flex-display;
    .justify-content(flex-end);
    .align-items(center);

    nav.desktop-navbar {
      display: none;
      margin-right: 26px;
      vertical-align: middle;

      ul li {
        display: inline-block;
        margin-right: 26px;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;

        &:last-child {
          margin-right: 0;
        }

        a {
          transition: opacity .2s ease;

          &.active,
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }

  @media screen and (min-width: @break-sm-up) {
    .mobile-navbar {
      display: none;
    }
    .desktop-navbar-wrapper {
      nav.desktop-navbar {
        display: inline-block;
      }
    }
  }
}

body.scrolled header {
  position: fixed;
  padding: 14px 0;
  box-shadow: 0 0 24px rgba(80, 80, 80, 0.3);
}

@media screen and (max-width: @break-sm-down) {
  body.mobile-nav-open {
    header {
      z-index: 301;
      box-shadow: none;

      .desktop-navbar-wrapper,
      .icon-timyo-logo {
        display: none;
      }

      .mobile-navbar {
        .navbar-toggle {
          .icon-bar {
            &:nth-child(1) {
              transform: rotate(45deg);
              transform-origin: left;
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
              transform-origin: left;
            }
          }
        }
      }
    }
  }
}
