.teams-page {
  .intro-section {
    .card {
      max-width: 321px;
      width: 100%;
      margin: 40px auto 0;
      box-shadow: 0px 2px 24px #eee;
      border-radius: 10px;
      position: relative;
      padding-bottom: 10px;
      text-align: left;

      .img {
        background: url('/assets/images/for_teams.jpg');
        height: 187px;
        width: 321px;
        max-width: 100%;
        background-size: 321px 187px;
        border-radius: 10px;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url('/assets/images/for_teams@2x.jpg');
        }
      }

      .title,
      .body {
        padding: 0 40px;
      }

      .title p {
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 16px;
      }

      .body p {
        font-size: 12px;
        color: @gray-text;
        line-height: 1.7;
        font-weight: 300;
        margin-top: 0px;
      }

      .icon-wrapper {
        display: inline-block;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-size: 30px;
        position: absolute;
        right: 30px;
        bottom: -26px;
        box-shadow: 0px 11px 23px #eee;
        background: #fff;

        .timyo-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          line-height: 1rem;
        }
      }
    }

    @media screen and (min-width: @break-md-up) {
      text-align: left;

      .card {
        margin-top: 0;
      }
    }
  }

  .icon-card-section {
    @media screen and (min-width: @break-md-up) {
      .icon-card {
        text-align: left;

        .timyo-icon {
          float: left;
        }

        h4,
        p {
          margin-left: 55px;
        }
      }
    }
  }

  .services-section {
    .services {
      .flex-display;
      .align-items(center);
      .justify-content(space-between);
      padding: 20px 0 0 0;

      .service {
        &:nth-child(2) {
          position: relative;
          top: -40px;
        }
      }

      &.last {
        padding: 0 0 20px 0;

        .service {
          &:nth-child(2) {
            top: 40px;
          }
        }
      }
    }

    @media screen and (min-width: @break-md-up) {
      .services {
        .flex-direction(column);
        padding: 0 0 0 20px;

        .service {
          &:nth-child(2) {
            top: 0;
            left: -40px;
          }
        }

        &.last {
          padding: 0 20px 0 0;

          .service {
            &:nth-child(2) {
              top: 0;
              left: 40px;
            }
          }
        }
      }
    }
  }

  .pricing-section {
    .pricing-wrapper {
      .flex-display;
      .justify-content(space-between);
      position: relative;
      max-width: 800px;

      .hr {
        position: absolute;
        bottom: 0;
        background: url('/assets/images/hr_fade.png') no-repeat;
        background-position: 100% 100%;
        width: 100%;
        background-size: 100% 72px;
        height: 72px;
        z-index: 101;
        left: 50%;
        transform: translate(-50%, 0);
        min-width: 800px;
      }

      .tag {
        position: absolute;
        bottom: -20px;
        background: #fff;
        box-shadow: 0 2px 24px #eee;
        z-index: 201;
        padding: 12px 18px;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .card-wrapper {
        .flex-display;
        overflow: hidden;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        min-width: 800px;
        width: 100%;

        .card {
          background: #fff;
          width: 260px;
          box-shadow: 0px 2px 24px #eee;
          border-radius: 10px;
          overflow: hidden;
          margin: 0 auto;
          position: relative;
          top: 10px;

          &.card-1 {
            top: 64px;
            left: 100px;
            opacity: .15;
          }

          &.card-2 {
            z-index: 10;
          }

          &.card-3 {
            top: 64px;
            right: 100px;
            opacity: .15;
          }

          .card-border {
            background: url('/assets/images/border.jpg') no-repeat;
            background-size: 100% 100%;
            background-position: 50%;
            width: 100%;
            height: 3px;
          }

          .top {
            font-size: 14px;
            font-weight: bold;
            color: @gray-text;
            text-transform: uppercase;
            margin-top: 40px;
          }

          .price {
            font-weight: bold;
            font-size: 50px;
            margin-top: 26px;
            text-transform: uppercase;
          }

          .body {
            font-size: 18px;

            ul {
              margin: 20px 0 60px;

              li {
                margin-top: 30px;
              }
            }
          }
        }
      }
    }

    p.fine {
      max-width: 420px;
      margin: 40px auto 0;
      line-height: 1.7;
    }
  }
}
