//
// Variables
// --------------------------------------------------------

@font-size-base:          16px;
@line-height-base:        1.528571429; // 20/14

// colors
@light-blue:    #0BA0F9;
@dark-blue:     #1D81D4;
@blue-text:     #1F8CE6;
@yellow:        #F8B936;
@green:         #28D26F;
@red:           #E8425E;
